language: clojure

cache:
  directories:
    - $HOME/.m2

before_script:
  # update lein to latest, https://github.com/technomancy/leiningen/issues/2014#issuecomment-153829977
  - yes y | sudo lein upgrade

script: lein test
